p{
    font-family: Avenir, Helvetica, sans-serif;
}

.home-container{
    padding: 60px 30px;
    height: 2000px;
}

.home-container-1{
    width: 100%;
    position: relative;
    height: 400px;
}

.home-logo{
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);

    width: 400px;
    height: auto;
}

.home-textbox-1{
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);

    display: inline-block;
    background-color: #F5B295;
    width: 500px;
    padding: 10px 20px;
    font-size: 24px;
}

.home-container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
}

.home-textbox-info{
    display: inline-block;
    background-color: #F5B295;
    text-align: center;
    padding: 10px 20px;
    height: 500px;
    width: 300px;
}

.home-textbox-info h2{
    font-weight: normal;
    font-size: 26px;
}

.home-textbox-info p{
    font-size: 22px;
}

.home-info-link{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.home-info-link:hover{
    text-decoration: underline;
}

