.home-container{
    padding: 10px;
    height: 2000px;
}

.home-container-1{
    
}

.home-textbox-1{
    display: inline-block;
    background-color: #F5B295;
    width: 500px;
    padding: 10px 20px;
    font-size: 24px;
}