@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
    font-family: 'Nunito', sans-serif;
}

.home-container{
    padding: 30px 10px;
    height: 2000px;
}

.home-container-1{
    width: 100%;
    position: relative;
    height: 400px;
}

.home-logo{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 400px;
    height: auto;
}

.home-textbox-1{
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    background-color: #F5B295;
    width: 700px;
    padding: 10px 20px;
    font-size: 24px;
}

.home-textbox-background{
    position: absolute;
    right: 9%;
    top: 60%;
    transform: translateY(-50%);
    height: 180px;
    background-color: #D3CCCC;
    width: 680px;
    padding: 10px 20px;
    font-size: 24px;
}
.home-container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.home-textbox-info{
    display: inline-block;
    background-color: #F5B295;
    text-align: center;
    padding: 10px 20px;
    height: 500px;
    width: 300px;
}

.home-textbox-info h2{
    font-weight: normal;
    font-size: 26px;
}

.home-textbox-info p{
    font-size: 22px;
}

.home-info-link{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.home-info-link:hover{
    text-decoration: underline;
}

.home-container-3{
    position: relative;
    margin-top: 200px;
}

.home-textbox-feedback{
    position: absolute;
    display: inline-block;
    background-color: #F5B295;
    padding: 10px 20px;
    left: 12%;
}

.home-textbox-feedback p{
    font-size: 22px;
}

.home-textbox-pictures{
    position: absolute;
    right: 12%;
    display: inline-block;
    background-color: #D3CCCC;
    width: 400px;
    height: 500px;

}

.padding50 {
    margin-top: 100px;
}

@media screen and (max-width: 1350px) {
    .home-textbox-background{
        display: none;
  }

  .home-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}
  .home-textbox-1{
    display: block;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    right: 20%;
    width: 100%;
    position: relative;
    margin-bottom: 200px;
}
.home-container-1{
    width: 100%;
    position: relative;
    margin-bottom: 200px
}
}